In [1]:
class university:
    def __init__(self, surname, number, passed, upTo100, studyForm):
        self.surname = surname
        self.number = number
        self.passed = passed
        self.upTo100 = upTo100
        self.studyForm = studyForm

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect("university.db")
cursor = conn.cursor()
cursor.execute("""CREATE TABLE university
                  (surname text, 
                  number integer,
                  passed integer,
                   upTo100 integer,
                   studyForm text)
               """)

In [4]:
cursor.execute("""INSERT INTO university
                  VALUES ('Antonova', '5', '6',
                  '12', 'full'),
                  ('Bohdanovich', '17', '3',
                  '9', 'full'),
                  ('Kazakevich', '99', '1',
                  '50', 'extramural'),
                  ('Vasylenko', '1', '8',
                  '0', 'extramural'),
                  ('Antoniuk', '30', '7',
                  '33', 'full')"""
               )
conn.commit()

In [5]:
sql1 = "SELECT * FROM university"
cursor.execute(sql1)
print(cursor.fetchall())

[('Antonova', 5, 6, 12, 'full'), ('Bohdanovich', 17, 3, 9, 'full'), ('Kazakevich', 99, 1, 50, 'extramural'), ('Vasylenko', 1, 8, 0, 'extramural'), ('Antoniuk', 30, 7, 33, 'full')]

In [7]:
sql2 = "SELECT * FROM university WHERE studyForm = 'extramural'"
cursor.execute(sql2)
print(cursor.fetchall())

[('Kazakevich', 99, 1, 50, 'extramural'), ('Vasylenko', 1, 8, 0, 'extramural')]

In [10]:
sql3 = "SELECT * FROM university WHERE number = 5"
cursor.execute(sql3)
print(cursor.fetchall())

[('Antonova', 5, 6, 12, 'full')]

In [11]:
sql4 = "UPDATE university SET studyForm = 'extramural' WHERE number = 5"
cursor.execute(sql4)

In [12]:
sql1 = "SELECT * FROM university"
cursor.execute(sql1)
print(cursor.fetchall())

[('Antonova', 5, 6, 12, 'extramural'), ('Bohdanovich', 17, 3, 9, 'full'), ('Kazakevich', 99, 1, 50, 'extramural'), ('Vasylenko', 1, 8, 0, 'extramural'), ('Antoniuk', 30, 7, 33, 'full')]

In [13]:
sql2 = "SELECT * FROM university WHERE studyForm = 'extramural'"
cursor.execute(sql2)
print(cursor.fetchall())

[('Antonova', 5, 6, 12, 'extramural'), ('Kazakevich', 99, 1, 50, 'extramural'), ('Vasylenko', 1, 8, 0, 'extramural')]

In [14]:
sql3 = "SELECT * FROM university WHERE number = 5"
cursor.execute(sql3)
print(cursor.fetchall())

[('Antonova', 5, 6, 12, 'extramural')]